<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ArduinoMouseComNumber" value="COM10"/>
    <add key="ArduinoMasterComNumber" value="COM11"/>
    <add key="ArduinoKeyboardComNumber" value="COM9"/>
    <add key="MapExportLocation" value="C:\\Users\\cubma\\Desktop\\MapleMapExports" />
    <add key="ClassExportLocation" value="C:\\Users\\cubma\\Desktop\\MapleClassExports" />
    <add key="GameExeLocation" value="steam://rungameid/216150" />
  </appSettings>
</configuration>